<div class="container-fluid animated fadeIn">  
    <!-- THE CURRENT USER ID IS <%= current_user.id %> -->
    
    <section id="map" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <br />
        </iframe>
    </section>
    
    <section class="task-panel panel-bg">
        
        <div class="container">


            <div class="col-md-6 unclaimed">
                
                <div class="col-md-12">
                    <h1 class="tasks">Unclaimed Tasks</h1>
                </div>
                <p></p>
            
        
                <div class="col-md-12 uctasks">
                    <div class="panel-group">
                        <% @tasks.each do |task| %>
                            <% unless task.claimer_id? %>
                                <!-- THE ID OF THIS UNCLAIMED TASK IS <%= task.id %> -->
                                <div class="panel panel-info" style="margin-top: 20px">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><%= link_to task.name, task %> <span class="badge balance-badge"><%= number_to_currency(task.price) %></span></h3>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Location: <%= task.address %></li>
                                    </ul>
                                    <div class="panel-body">
                                        <p><%= task.description %></p><br>
                                        <p>
                                            <% task.tags.join(' ').split(',').each do |tag| %>
                                                <span class="badge tag-badge"> <%= tag %></span>
                                            <% end %>
                                        </p>
                                        
                                        <div class="btn-group btn-group-justified" role="group">
                                            <% if !current_user.posts.include? task %>
                                                <%= link_to [:claim, task], class: "btn btn-primary", role: "button", :method => :post do %>
                                                    <strong>Claim</strong>
                                                <% end %>
                                            <% end %>
                                            <% if current_user.posts.include? task %>
                                                <%= link_to [:destroy, task], class: "btn btn-danger", role: "button", :method => :post, data: { confirm: 'Are you sure?' } do  %>
                                                    <strong>Delete</strong>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="panel-footer">by <em><%= task.owner.email %></em> on <%= task.created_at.strftime("%m/%d/%Y at %I:%M%p") %></div>
                                </div>
                            <% end %>
                        <% end %>
                        <br>
                        <div class="digg_pagination page">
                                <%= will_paginate @tasks %>
                         </div>
                    </div>
                </div>
            </div>
            
        
            <div class="col-md-6 claimed">
                <div class="col-md-12">
                    <h1 class="tasks">Claimed Tasks</h1>
                </div>
    
                <div class="col-md-12 ctasks">
                    <div class="panel-group">
                    
                        <% current_user.claims.each do |task| %>
                            <% unless task.completer_id %>
                                <!-- THE ID OF THIS CLAIMED TASK IS <%= task.id %> -->
                                <div class="panel panel-primary" style="margin-top: 20px">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><%= link_to task.name, task %> <span class="badge balance-badge"><%= number_to_currency(task.price) %></span></h3>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Location: <%= task.address %></li>
                                    </ul>
                                    <div class="panel-body">
                                        <p><%= task.description %></p><br>
                                        <p>
                                            <% task.tags.join(' ').split(',').each do |tag| %>
                                                <span class="badge tag-badge"> <%= tag %></span>
                                            <% end %>
                                        </p>
                                        
                                        <div class="btn-group btn-group-justified" role="group">
                                            <%= link_to [:cancel, task], :method => :put, class: "btn btn-warning", role: "button" do %>
                                                <strong>Cancel</strong>
                                            <% end %>
                                            <%= link_to [:complete, task], :method => :post, class: "btn btn-success", role: "button" do %>
                                                <strong>Complete!</strong>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="panel-footer">by <em><%= task.owner.email %></em> on <%= task.created_at.strftime("%m/%d/%Y at %I:%M%p") %></div>
                                </div>
                            <% end %>
                        <% end %>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div style="display:none"><%= location_info = request.location %><br>
    <%= lat = location_info.latitude %><br>
    <%= long = location_info.longitude %><br></div>
    
    <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= lat %>,
              "lng": <%= long %>,
              "picture": {
                  "url": "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                  "width": 40,
                  "height": 40
                },
              "infowindow": "This is where you are!"
             
            }
          ]);
            
          <% @tasks.each do |task| %>
              handler.addMarker({"lat": <%= task.latitude %>, "lng": <%= task.longitude %>, "infowindow": "<%= task.name %>" })
          <% end %>
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(13);
        });
        
    </script>
    
    


</div>