<div class="tasks_page">
    <!--<h1>Tasks#new</h1>-->
    <!--<p>Find me in app/views/tasks/new.html.erb</p>-->
    <div class="container">
        <div class="row">
                <h1>New Task</h1>

                <%= form_for(@task) do |f| %>
                   <div class="half left">
                        <%= f.text_field :name, class: "form-control", placeholder: "Task Name" %>
                        <br>
                        
                        <%= f.text_field :address, class: "form-control", placeholder: "Task Location" %>
                        <br>
                        <div class = "half left">
                            <%= f.number_field :price, placeholder: "Bounty", class: 'textarea' %>
                        </div>
                        
                        <div class = "half right">
                            <%= f.text_field :tags, multiple: true, placeholder: "Tags", class: 'textarea' %>
                        </div>
                   </div>
                   <div class="half right">
                        <%= f.text_area :description, class: 'textarea', placeholder: "Description", :rows => "6"%>
                   </div>
                    
                    <%= f.hidden_field :owner_id, value: current_user.id %>
                    
                    <%= f.submit "Create a task", class: "btn btn-primary btn-block" %>
                <% end %>


        </div>
    </div>
</div>
