<h1><%= @task.name %></h1><br>

<p>LOCATION: <%= @task.address %></p>
<p>DESCRIPTION: <%= @task.description %></p>
<p>BOUNTY: $<%= @task.price %></p><br>
<p>TIME CREATED: <%= @task.created_at %></p>
<p>TAGS: 
    <%= @task.tags.join ' ' %> 
</p>
<p>POSTED BY: <%= @task.owner.email %></p>

<% if current_user.posts.include? @task %>
    <%= button_to [:destroy, @task] do %>
        <strong>Delete</strong>
    <% end %>
<% end %>