<h1><%= @task.name %></h1><br>

<p>LOCATION: <%= @task.address %></p>
<p>DESCRIPTION: <%= @task.description %></p>
<p>BOUNTY: $<%= @task.price %></p><br>
<p>TIME CREATED: <%= @task.created_at %></p>
<p>TAGS: 
    <%= @task.tags.join ' ' %> 
</p>
<p>POSTED BY: <%= @task.owner.email %></p>

<% if current_user.posts.include? @task %>
    <%= button_to [:destroy, @task] do %>
        <strong>Delete</strong>
    <% end %>
<% end %>

<!-- <p>Coordinates: <%= @task.latitude %> <%= @task.longitude %></p> -->
<br><br>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@task.latitude},#{@task.longitude}&markers=#{@task.latitude},#{@task.longitude}&zoom=7&size=640x400",
              class: 'img-fluid img-rounded'%>
