<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if user_signed_in? then %>
      
          <!-- THE CURRENT USER ID IS <%= current_user.id %> -->

      
        <%= link_to "BOUNTY", main_app_path, { :class=>"navbar-brand" } %>
      <% else %>
        <%= link_to "BOUNTY", landing_page_path, { :class=>"navbar-brand" } %>
      <% end %>
    </div>
    
    <% if user_signed_in? then %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Post a task", new_task_path %></li>
        <li><%= link_to "View all tasks", main_app_path %></li>
      </ul>
      
      <%= form_tag(index_task_path, :method => "get", class: "navbar-form navbar-left") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search tasks by tags", class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        
      </ul>
      <p class="nav navbar-text navbar-right">Welcome back <%= current_user.email %>!</p>
      <p class="nav navbar-text navbar-right">Balance <span class="badge balance-badge"><%= number_to_currency(current_user.amount) %></span></p>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My tasks", my_task_path %></li>
        <li><%= link_to "Pending tasks", pending_task_path %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in",  sign_in_path %></li>
        <li><%= link_to "Sign up",  landing_page_path %></li>
      </ul>
    <% end %>
    
    <em class="nav navbar-text navbar-left"><%= notice %></em>
    <em class="nav navbar-text navbar-left"><%= alert %></em>
      
  </div>
</nav>