<div class="container-fluid">
    <div class="row">
        <% if user_signed_in? then %>
            <p>Hello <%= current_user.email %>!</p>
        <% end %>
    </div>    
    
    <div class="row">
        <div class="col-md-6 unclaimed">
        <div class="col-md-12">
            <h1>Unclaimed Tasks:</h1>
        </div>
        <% @tasks.each do |task| %>
            <% unless task.claimer_id? %>
                <h1>ITEM <%= task.id %></h1>
                <p>NAME: <%= task.name %></p>
                <p>LOCATION: <%= task.location %></p>
                <p>DESCRIPTION: <%= task.description %></p>
                <p>BOUNTY: $<%= task.price %></p>
                <p>TIME CREATED: <%= task.created_at %></p>
                <p>POSTED BY: <%= task.owner.email %></p>
                <%= button_to [:claim, task] do %>
                    <em>CLAIM</em>
                <% end %>
            <% end %>
        <% end %>
        </div>    
        <div class="col-md-6 claimed">
            <div class="col-md-12">
                <h1>Tasks you have claimed:</h1>
            </div>
            <% current_user.claims.each do |task| %>
                <h1>ITEM <%= task.id %></h1>
                <p>NAME: <%= task.name %></p>
                <p>LOCATION: <%= task.location %></p>
                <p>DESCRIPTION: <%= task.description %></p>
                <p>BOUNTY: $<%= task.price %></p>
                <p>TIME CREATED: <%= task.created_at %></p>
                <p>POSTED BY: <%= task.owner.email %></p>
                <%= button_to [:cancel, task], :method => :put  do %>
                    <em>cancel</em>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div style='width: 800px; display: block; margin:auto; margin-top: 100px'>
          <div id="map" style='width: 1200px; height: 600px;'></div>
        </div>
    </div>
    <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers([
            {
              "lat": -34.397,
              "lng": 150.644,
              "infowindow": "hello!"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
    </script>
</div>