<div class="container-fluid animated fadeIn">  
    <!-- THE CURRENT USER ID IS <%= current_user.id%> -->
    
    <section id="map" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <br />
        </iframe>
    </section>
    
    <section class="task-panel panel-bg">
        
        <div class="container">


            <div class="col-md-6 unclaimed">
                
                <div class="col-md-12">
                    <h1>Unclaimed Tasks:</h1>
                </div>
                <p></p>
            
        
                <div class="col-md-12 uctasks">
                    <div class="panel-group">
                        <% @tasks.each do |task| %>
                            <% unless task.claimer_id? %>
                                <!-- THE ID OF THIS UNCLAIMED TASK IS <%= task.id %> -->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
    
                                        <h1><%= link_to task.name, task %></h1>  
                                    </div>
                                    <div class="panel-body">
                                        <p>LOCATION: <%= task.address %></p>
                                        <p>DESCRIPTION: <%= task.description %></p>
                                        <p>BOUNTY: $<%= task.price %></p>
                                        <p>TAGS: 
                                            <%= task.tags.join ' ' %> 
                                        </p>
                                        <p>TIME CREATED: <%= task.created_at %></p>
                                        <p>POSTED BY: <%= task.owner.email %></p>
                                        <%= button_to [:claim, task] do %>
                                            <button class="btn btn-primary">Claim</button>
                                        <% end %>
                                        <% if current_user.posts.include? task %>
                                            <%= button_to [:destroy, task] do  %>
                                                <button class="btn btn-warning">Delete</button>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

        
            <div class="col-md-6 claimed">
                <div class="col-md-12">
                    <h1>Tasks you have claimed:</h1>
                </div>
                            <p></p>
    
                <div class="col-md-12 ctasks">
                    <div class="panel-group">
                    
                        <% current_user.claims.each do |task| %>
                             <!-- THE ID OF THIS CLAIMED TASK IS <%= task.id %> -->
                            <div class="panel panel-primary">
                                 <div class="panel-heading">
                                        <h1><%= link_to task.name, task, {:style=>'color:white'}%></h1>  
                                </div>
                                <div class="panel-body">
                                    <p>LOCATION: <%= task.address %></p>
                                    <p>DESCRIPTION: <%= task.description %></p>
                                    <p>BOUNTY: $<%= task.price %></p>
                                    <p>TAGS: 
                                        <%= task.tags.join ' ' %> 
                                    </p>
                                    <p>TIME CREATED: <%= task.created_at %></p>
                                    <p>POSTED BY: <%= task.owner.email %></p>
                                    <%= button_to [:cancel, task], :method => :put  do %>
                                        <button class="btn btn-secondary">Cancel</button>
                                    <% end %>
                                    <%= button_to [:complete, task] do %>
                                        <button class="btn btn-success">Complete!</button>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div style="display:none"><%= location_info = request.location %><br>
    <%= lat = location_info.latitude %><br>
    <%= long = location_info.longitude %><br></div>
    
    <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= lat %>,
              "lng": <%= long %>,
              "picture": {
                  "url": "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                  "width": 40,
                  "height": 40
                },
              "infowindow": "This is where you are!"
             
            }
          ]);
            
          <% @tasks.each do |task| %>
              handler.addMarker({"lat": <%= task.latitude %>, "lng": <%= task.longitude %>, "infowindow": "<%= task.name %>" })
          <% end %>
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(13);
        });
        
    </script>
    
    


</div>
