<div class="container-fluid">  
    <!-- THE CURRENT USER ID IS <%= current_user.id%> -->
    <section class="task-panel panel-bg">
        <div class="container">
            <% cache(cache_key_for_task_table) do %>

                <div class="col-md-6 unclaimed">
                    
                    <div class="col-md-12">
                        <h1>Unclaimed Tasks:</h1>
                    </div>
                    <p></p>
                
            
                    <div class="col-md-12 uctasks">
                        <div class="panel-group">
                            <% @tasks.each do |task| %>
                                <% cache(cache_key_for_task_row(task)) do %>
                                    <% unless task.claimer_id? %>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
        
                                                <h1><%= link_to task.name, task %></h1>  
                                            </div>
                                            <div class="panel-body">
                                                <p>LOCATION: <%= task.address %></p>
                                                <p>DESCRIPTION: <%= task.description %></p>
                                                <p>BOUNTY: $<%= task.price %></p>
                                                <p>TAGS: 
                                                    <%= task.tags.join ' ' %> 
                                                </p>
                                                <p>TIME CREATED: <%= task.created_at %></p>
                                                <p>POSTED BY: <%= task.owner.email %></p>
                                                <%= button_to [:claim, task] do %>
                                                    <button class="btn btn-primary">Claim</button>
                                                <% end %>
                                                <% if current_user.posts.include? task %>
                                                    <%= button_to [:destroy, task] do  %>
                                                        <button class="btn btn-warning">Delete</button>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
    
            
                <div class="col-md-6 claimed">
                    <div class="col-md-12">
                        <h1>Tasks you have claimed:</h1>
                    </div>
                                <p></p>
        
                    <div class="col-md-12 ctasks">
                        <div class="panel-group">
                        
                            <% current_user.claims.each do |task| %>
                                 <!-- THE ID OF THIS CLAIMED TASK IS <%= task.id %> -->
                                <div class="panel panel-primary">
                                     <div class="panel-heading">
                                            <h1><%= link_to task.name, task, {:style=>'color:white'}%></h1>  
                                    </div>
                                    <div class="panel-body">
                                        <p>LOCATION: <%= task.address %></p>
                                        <p>DESCRIPTION: <%= task.description %></p>
                                        <p>BOUNTY: $<%= task.price %></p>
                                        <p>TAGS: 
                                            <%= task.tags.join ' ' %> 
                                        </p>
                                        <p>TIME CREATED: <%= task.created_at %></p>
                                        <p>POSTED BY: <%= task.owner.email %></p>
                                        <%= button_to [:cancel, task], :method => :put  do %>
                                            <button class="btn btn-secondary">Cancel</button>
                                        <% end %>
                                        <%= button_to [:complete, task] do %>
                                            <button class="btn btn-success">Complete!</button>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                                
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </section>
    <!--<div class="map">-->
    <!--    <div class="row vertical-center-row">-->
    <!--        <div style='width: 800px; display: block; margin:auto; margin-top: 100px'>-->
    <!--          <div id="map" style='width: 800px; height: 400px;'></div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    
</div>
